.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: Lato, helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
	margin: auto;
	text-align: center;
	/*background-image: url(../images/wallpaper-323819.jpg);*/
	background-size: cover;
	background-position: center;
}

header {
	height: 100px;
	background-color: rgba(61, 61, 61, 0.69);
	position: fixed;
	width: 100%;
	z-index: 1;
}

header a {
	height: 100%;
	display: inline-block;
}

h1 {
	font-family: Oswald, helvetica, sans-serif;
	display: inline-block;
	font-size: 60px;
	text-align: center;
	color: white;
	font-weight: 100;
	margin: 0;
}

h2 {
	font-family: Lato, helvetica, sans-serif;
	color: gray;
	font-weight: 100;
	-webkit-margin-before: 0;
}

h3 {
	color: #414141;
	font-weight: 300;
	font-size: 1em;
	margin-top: 0px;
}

form {
	text-align: center;
	margin-top: 110px;
	display: inline-block;
}

label {
	padding: 5px;
}

footer {
	background-color: rgba(61, 61, 61, 0.69);
	width: 100%;
	padding: 0.5em;
	bottom: 0px;
	left:0;
	position: absolute;
	font-weight: lighter;
	font-size: 0.8em
}

button {
	width: 96px;
	background-color: #66A7DD;
	display: inline-block;
	text-align: center;
	padding: 14px 0px 11px;
	border: 0px;
	border-bottom: 4px solid #407CAE;
	letter-spacing: 3px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
	color: white;
	font-weight: 100;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: white;
}

button:active {
	border-bottom: 3px solid #407CAE;
	outline: none;
	padding-top: 14px;
	padding-bottom: 11px;
	margin-top: 1px
}

button:focus {
	outline: none;
}

button:hover {
	background-color: rgb(121, 173, 224);
	transition: background-color 0.4s ease;
}

header ul {
	display: inline-block;
	float: right;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 0;
	height: 100%;
}

ul {
	padding-left: 0px;
	margin-top: 2px;
}

li {
	list-style-type: none;
	display: inline-block;
	font-weight: lighter;
	overflow: hidden;
}

header li {
	padding: 39px;
}

li:hover {
	background-color: white;
	color: gray;
}

.chartcontainer {
	width: 100%;
	height: 100%;
}

.helpertext {
	margin: auto;
	color: rgb(53, 53, 53);
	font-size: 15px;
	font-weight: 300;
	width: 49%;
	background-color: rgba(255, 255, 255, 0.15);
	padding: 15px;
	margin-top: 100px;
}

.helpertext.oops{
	margin: 20% auto 0px;
}

.picker {
	width: 38px;
	border-radius: 20px;
	background-color: gray;
	display: inline-block;
	clear: both;
	text-align: center;
	padding: 7px 0px;
	margin: 15px;
	color: white;
	box-shadow: 1px 0px 20px #888888;
}

.activepicker {
	background-color: #4EB3DF;
}

.split {
	display: inline-block;
	width: 45vw;
	height: 76vh;
	background-color: rgba(255, 255, 255, 0.21);
	position: relative;
	margin: 5px;
	top: 4.5%;
}

canvas {
	position: absolute;
	height: 100%;
	right: 0%;
	top: 25%;
}

.split.positive {
	margin-right: 8px;
}

.split p {
	color: gray;
	text-align: justify
}

.split.single {
	width: 70vw;
	padding: 31px;
	background-color: rgba(196, 197, 207, 0.21);
	height: auto;
}

#credits .split.single {
	padding: 31px 5px;
}

.bottomcontainer {
	position: absolute;
	bottom: 8px;
	text-align: center;
	width: 100%;
	color: #414141;
}

.bottomcontainer.subtitle {
	color: #414141;
	bottom: 10px;
}

.topcontainer {
	text-align: center;
	width: 100%;
	color: #ffffff;
}

.feed {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	text-align: left;
	padding: 8px;
	color: #414141;
	position: absolute;
	top: 0px;
	padding-top: 46px;
	z-index: -1;
}

.entry {
	padding: 10px 10px;
	border-radius: 6px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.53);
	width: 100%;
}

.entryDetails {
	font-size: 0.8em;
}

#credits .footer {
	height: 39%;
}

.arrow-up {
	display: block;
	margin: auto;
	margin-top: 8px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

.arrow-down {
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.5);
	margin: auto;
	margin-top: 3px
}

.arrowtext {
	font-size: 15px;
}

a .arrowtext {
	display: inline-block;
	color: #414141;
	margin-top: 0px
}

#credits .arrowtext {
	display: block;
	color: rgb(234, 234, 234);
	margin: auto;
	background-color: rgba(45, 45, 45, 0.84);
	height: 50px;
	width: 147px;
	padding-top: 15px;
	font-weight: bolder;
}

#credits p {
	text-align: center;
	margin-top: 0px;
	font-weight: 400;
}

#credits .arrowtext:hover {
	box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.75);
	transition: box-shadow 0.5s ease;
}


.split .topcontainer {
	top: 0px;
	padding: 0.5em 0px;
	margin-bottom: 0px;
}

.split.positive .topcontainer {
	background-color: #5ACA74;
}

.split.neutral .topcontainer {
	background-color: #9BC5CF;
}

.split.negative .topcontainer {
	background-color: #E45757;
}

#results_breakdown .split {
	width: 29%;
	z-index: 1;
}

#results_area .split {
	background-color: transparent;
	margin: 0px;
	width: 47%;
}

.mini {
	text-align: left;
	height: 60px;
	transition: height 0.4s ease;
}

.mini h1 {
	font-size: 38px;
	padding-left: 10px;
	transition: font-size 0.3s;
}

.mini li {
	padding: 19px;
	transition: padding 0.4s ease;
}

.mini #title {
	position: absolute;
	left: 0px;
	z-index: 1;
}

#search_title {
position: absolute;
display: block;
width: 100%;
text-align: center;
padding: 20px;
font-weight: 100;
font-size: 17px;
color: rgba(255, 255, 255, 0.58);
}

#twitter {
	background-image: url("../images/Twitter_logo_blue.png");
}

#intro {
	font-size: 27px;
	width: 450px;
	margin: auto;
	margin-top: 75px;
}

#search_area {
	background: linear-gradient(#4BBFC3,#7BBE8E);
}

#results_area {
	background: linear-gradient(#7BBE8E,#A3D791);
}

.fp-tableCell {
	vertical-align: middle;
}

#about {
	background-color: #F2F2F2;
	height: 100%;
}

#about .split {
	margin-top: 130px;
}

#contact {
	background-color: #F2F2F2;
	height: 100%;
}

#contact .split {
	margin-top: 130px;
}

#positive {
	float: left;
}

#negative {
	float: right;
}

#results_breakdown {
	background: linear-gradient(#A3D791,#BBE2C2);
}

#search-term {
	height: 46px;
	width: 300px;
	font-size: 17px;
	padding: 5px;
}

#credits {
	padding-top: 60px;
}

.split.single.credits {
	text-align: center;
	background-color: rgba(196, 197, 207, 0.00)
}

.credits form {
	margin-top: 10px;
}

.leftlist {
	text-align: right;
	border-right: 1px solid gray;
	float: left;
	width: 50%;
}

.rightlist {
	text-align: left;
	float: left;
	width: 50%
}

#reddit-loading {
	position: absolute;
	z-index: 1;
	width: 7%;
	top: 38%;
	left: 46.5%;
	opacity: 0.8;
}

#credits li {
	color: gray;
	padding: 10px;
	display: block;
}

#credits .split {
	width: 75%;
	margin: 8% auto 20px;
}

#credits a {
	color: gray;
}

#fp-nav li {
	margin-right: 0px !important
}

#fp-nav li:hover {
	background-color: rgba(255, 255, 255, 0);;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s ease infinite;
}

/*  RESPONSIVE  */

@media screen and (max-width: 910px) {

header li {
	padding: 39px 10px;
}

.helpertext {
	width: 65%;
}

}

@media screen and (max-width: 728px) {

	.twoline {
		margin-bottom: 22px;
	}
}

@media screen and (max-width: 690px) {

header ul {
	display: none;
}

#results_breakdown .split {
	width: 85%;
	height: 24vh;
	display: block;
	margin: auto;
	margin-bottom: 5px;
}

.split .topcontainer {
	padding: 0px;
	opacity: 0.7;
}

}

@media screen and (max-width: 600px) {

header ul {
	visibility: hidden;
}

#intro {
	font-size: 21px;
	width: 100%;
	padding: 20px;
}

.helpertext {
	width: 80%;
}

#search_title {
	visibility: hidden;
}

header.mini a {
width: 100%;
text-align: center;
}

}

@media screen and (max-width: 630px) {

#results_area .split {
	width: 80%;
	margin: auto;
}

#credits .split {
	display: inline-block;
}

canvas {
	top: initial;
}

.split {
	height: 35vh;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	width: 85%;
}

.mini h1 {
	margin-top: 0px;
}
	
}

@media screen and (max-width: 460px) {

	#search-term {
		width: 250px;
	}
}

@media screen and (max-width: 400px) {

	button {
		width: 65px;
	}

	h1 {
		font-size: 45px;
		margin-top: 14px;
	}

	header {
		height: 84px;
	}

	.helpertext {
		top: 25%;
	}

	form {
		margin-top: 75px;
	}

	#credits a {
		font-size: smaller;
	}
}

@media screen and (max-width: 365px) {

	#search-term {
		width: 210px;
	}
}
